html, body {
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Bitter',serif;
}
h1{
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 100;
}
p{
  margin-top: 0px;
  margin-bottom: 5px;
}
h3{
  margin-bottom: 8px;
  margin-top: 0px;
}

.conBox a:link {
  text-decoration: underline;
  color: black;
}

.conBox a:visited {
  text-decoration: underline;
  color: black;
}

.conBox a:hover {
  color: #ADD8E6;
}

.conBox a:active {
  color: #ADD8E6;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 55px 375px auto auto auto auto 50px;
  }

  .item1{ /*NAV BAR*/
    grid-column: auto;
    grid-row-start: 1;
    grid-row-end: 1;

    background-color: white;
    width: 100vw;
    position: fixed;
  }

  .navBox{
    display: grid;
    grid-template-columns: 30px 90px 200px auto;
    grid-template-rows: 6px auto 6px;
  }

  .navItem1{ /*COMPANY NAME*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    align-self: center;
  }

  .navItem1 p{
    margin: 2px 0px 0px 5px;
    padding: 0px 0px 0px 0px;

    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 18px;
  }

  .navItem3{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .navBox img {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;

    max-width: 81px;
    height: auto;
  }

  .item2{ /*HEADER*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;

    background-image: url("images/kidSwimming.jpg");
    background-size:cover;
    background-position: center;
  }

  .headBox{
    display: grid;
    grid-template-columns: 10% auto auto auto 10%;
    grid-template-rows: 100px auto auto 100px;
    text-align: center;
    color: white;
  }

  .headItem1{ /*S&C POOLS*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .headItem1 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 75px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    line-height: 1;
  }

  .headItem2 p{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 25px;
    margin: 30px 0px 0px 0px;
    display: inline-block;
  }

  .headItem2{  /*Swimming Pool Contractors*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
  }

  .item3{ /*ABOUT*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;

    background-color: white;
  }

  .aboutBox{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 40px auto 40px auto 40px auto 40px;
    column-gap: 25px;

    text-align: center;
  }

  .aboutBox p{
    line-height: 1.5;
  }

  .aboutItem1{ /*LOGO*/
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .aboutItem1 img{
    max-width: 15em;
    height: auto;
    margin-top: 0.83em;
  }

  .aboutTitle{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 900;
  }

  .aboutItem2{ /*HISTORY*/
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .aboutItem3{ /*PRESENT*/
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
  }


  .item4{ /*PICTURES*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;

    background-color: white;
  }

  .picBox{
    display: grid;
    grid-template-columns: 15px auto 15px auto 15px;
    grid-template-rows: 15px auto 15px auto 40px;

    justify-content: center;
  }

  .picItem1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem2{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .picItem4{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .picBox img {
    max-width: 14em;
    height: auto;
  }
  .item5{ /*SERVICES*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;

    background-color: #3A3B3C;
  }

  .servBox{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto 40px;
    column-gap: 20px;
    color: white;
  }
  #topServ {
    margin-top: 0px;
  }

  .servBox h3{
    margin-top: 30px;
  }

  .servBox a:link {
    text-decoration: underline;
    color: white;
  }

  .servBox a:visited {
    text-decoration: underline;
    color: white;
  }

  .servBox a:hover {
    color: #ADD8E6;
  }

  .servBox a:active {
    color: #ADD8E6;
  }


  .servItem1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }
  .servItem2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .servItem3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .servItem4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .servItem5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .servItem6{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  .servItem7{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
  }
  .servItem8{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 8;
  }
  .servItem9{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 9;
  }

  .item6{ /*CONTACT US*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;

    background-color: white;
  }

  .conBox{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto auto 40px auto 40px;

    text-align:center;
  }

  .conItem1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .conItem2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .conItem3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .conItem4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: 5px;
  }
  .conItem5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .conItem5 p{
    text-align: left;
    padding-left: 15px;
    line-height: 2;
  }

  .map {
    height: 250px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .item7{ /*FOOTER*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;

    background-color: #3A3B3C;

  }
  .footBox{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;

    color: white;
    justify-content: center;
    align-items: center;
  }

  .footItem1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

/* Medium-Small devices (phones, 600px and down) */
@media only screen and (min-width: 699px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 55px 375px auto auto auto auto 50px;
  }

  .item1{ /*NAV BAR*/
    grid-column: auto;
    grid-row-start: 1;
    grid-row-end: 1;

    background-color: white;
    width: 100vw;
    position: fixed;
  }

  .navBox{
    display: grid;
    grid-template-columns: 30px 90px 200px auto;
    grid-template-rows: 6px auto 6px;
  }

  .navItem1{ /*COMPANY NAME*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    align-self: center;
  }

  .navItem1 p{
    margin: 2px 0px 0px 5px;
    padding: 0px 0px 0px 0px;

    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 18px;
  }

  .navItem3{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .navBox img {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;

    max-width: 81px;
    height: auto;
  }

  .item2{ /*HEADER*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;

    background-image: url("images/kidSwimming.jpg");
    background-size:cover;
    background-position: center;
  }

  .headBox{
    display: grid;
    grid-template-columns: 10% auto auto auto 10%;
    grid-template-rows: 100px auto auto 100px;
    text-align: center;
    color: white;
  }

  .headItem1{ /*S&C POOLS*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .headItem1 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 75px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    line-height: 1;
  }

  .headItem2 p{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 25px;
    margin: 30px 0px 0px 0px;
    display: inline-block;
  }

  .headItem2{  /*Swimming Pool Contractors*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
  }

  .item3{ /*ABOUT*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;

    background-color: white;
  }

  .aboutBox{
    display: grid;
    grid-template-columns: 10% 1fr 20px 1fr 10%;
    grid-template-rows: 40px auto 40px auto 40px auto 40px;
    column-gap: 25px;

    text-align: center;
  }

  .aboutBox p{
    line-height: 1.5;
  }

  .aboutItem1{ /*LOGO*/
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .aboutItem1 img{
    max-width: 15em;
    height: auto;
    margin-top: 0.83em;
  }

  .aboutTitle{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 900;
  }

  .aboutItem2{ /*HISTORY*/
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .aboutItem3{ /*PRESENT*/
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }


  .item4{ /*PICTURES*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;

    background-color: white;
  }

  .picBox{
    display: grid;
    grid-template-columns: 15px auto 40px auto 15px;
    grid-template-rows: 15px auto 40px auto 40px;

    justify-content: center;
  }

  .picItem1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem2{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .picItem4{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .picBox img {
    max-width: 16em;
    height: auto;
  }
  .item5{ /*SERVICES*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;

    background-color: #3A3B3C;
  }

  .servBox{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto 40px;
    column-gap: 20px;
    color: white;
  }

  .servBox h3{
    margin-top: 30px;
  }

  .servBox a:link {
    text-decoration: underline;
    color: white;
  }

  .servBox a:visited {
    text-decoration: underline;
    color: white;
  }

  .servBox a:hover {
    color: #ADD8E6;
  }

  .servBox a:active {
    color: #ADD8E6;
  }


  .servItem1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }
  .servItem2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .servItem3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .servItem4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .servItem5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .servItem6{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  .servItem7{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
  }
  .servItem8{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 8;
  }
  .servItem9{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 9;
  }

  .item6{ /*CONTACT US*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;

    background-color: white;
  }

  .conBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 40px auto 40px;

    text-align:center;
  }

  .conItem1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .conItem2{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .conItem3{/*phone*/
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .conItem4{/*email*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: 50px;
    margin-right: 50px;
  }
  .conItem5{ /*store hours*/
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .conItem5 p{
    text-align: left;
    padding-left: 15px;
    line-height: 2;
  }

  .map {
    height: 400px;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
  }

  .item7{ /*FOOTER*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;

    background-color: #3A3B3C;

  }
  .footBox{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;

    color: white;
    justify-content: center;
    align-items: center;
  }

  .footItem1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

/* Medium-Large devices (phones, 600px and down) */
@media only screen and (min-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 55px 375px auto auto auto auto 50px;
  }

  .item1{ /*NAV BAR*/
    grid-column: auto;
    grid-row-start: 1;
    grid-row-end: 1;

    background-color: white;
    width: 100vw;
    position: fixed;
  }

  .navBox{
    display: grid;
    grid-template-columns: 30px 90px 200px auto;
    grid-template-rows: 6px auto 6px;
  }

  .navItem1{ /*COMPANY NAME*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    align-self: center;
  }

  .navItem1 p{
    margin: 2px 0px 0px 5px;
    padding: 0px 0px 0px 0px;

    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 18px;
  }

  .navItem3{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .navBox img {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;

    max-width: 81px;
    height: auto;
  }

  .item2{ /*HEADER*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;

    background-image: url("images/kidSwimming.jpg");
    background-size:cover;
    background-position: center;
  }

  .headBox{
    display: grid;
    grid-template-columns: 10% auto auto auto 10%;
    grid-template-rows: 100px auto auto 100px;
    text-align: center;
    color: white;
  }

  .headItem1{ /*S&C POOLS*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .headItem1 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 75px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    line-height: 1;
  }

  .headItem2 p{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 25px;
    margin: 30px 0px 0px 0px;
    display: inline-block;
  }

  .headItem2{  /*Swimming Pool Contractors*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
  }

  .item3{ /*ABOUT*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;

    background-color: white;
  }

  .aboutBox{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 40px auto 40px;
    column-gap: 25px;

    text-align: center;
  }

  .aboutBox p{
    line-height: 1.5;
  }

  .aboutItem1{ /*LOGO*/
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .aboutItem1 img{
    max-width: 15em;
    height: auto;
    margin-top: 1.5em;
  }

  .aboutTitle{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 900;
  }

  .aboutItem2{ /*HISTORY*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .aboutItem3{ /*PRESENT*/
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }


  .item4{ /*PICTURES*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;

    background-color: white;
  }

  .picBox{
    display: grid;
    grid-template-columns: 10% auto 15px auto 15px auto 15px auto 10%;
    grid-template-rows: 40px auto 40px;

    justify-content: center;
  }

  .picItem1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem2{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem3{
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem4{
    grid-column-start: 8;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picBox img {
    max-width: 14em;
    height: auto;
  }
  .item5{ /*SERVICES*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;

    background-color: #3A3B3C;
  }

  .servBox{
    display: grid;
    grid-template-columns: .75fr 1fr 1fr .5fr;
    grid-template-rows: 40px auto auto auto auto auto 40px;
    color: white;
  }

  .servBox h3{
    margin-top: 30px;
  }

  .servBox a:link {
    text-decoration: underline;
    color: white;
  }

  .servBox a:visited {
    text-decoration: underline;
    color: white;
  }

  .servBox a:hover {
    color: #ADD8E6;
  }

  .servBox a:active {
    color: #ADD8E6;
  }


  .servItem1{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
  }
  .servItem2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .servItem3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
    margin-left: 30px;
  }
  .servItem4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .servItem5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: 30px;
  }
  .servItem6{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .servItem7{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-left: 30px;
  }
  .servItem8{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  .servItem9{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-left: 30px;
  }

  .item6{ /*CONTACT US*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;

    background-color: white;
  }

  .conBox{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 40px auto auto 40px auto 40px;

    text-align:center;
  }

  .conItem1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .conItem2{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .conItem3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .conItem4{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-left: 5px;
  }
  .conItem5{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .conItem5 p{
    text-align: left;
    padding-left: 15px;
    line-height: 2;
  }

  .map {
    height: 400px;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
  }

  .item7{ /*FOOTER*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;

    background-color: #3A3B3C;

  }
  .footBox{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;

    color: white;
    justify-content: center;
    align-items: center;
  }

  .footItem1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1270px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 55px 375px auto auto auto auto 50px;
  }

  .item1{ /*NAV BAR*/
    grid-column: auto;
    grid-row-start: 1;
    grid-row-end: 1;

    background-color: white;
    width: 100vw;
    position: fixed;
  }

  .navBox{
    display: grid;
    grid-template-columns: 30px 90px 200px auto;
    grid-template-rows: 6px auto 6px;
  }

  .navItem1{ /*COMPANY NAME*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    align-self: center;
  }

  .navItem1 p{
    margin: 2px 0px 0px 5px;
    padding: 0px 0px 0px 0px;

    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 18px;
  }

  .navItem3{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .navBox img {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;

    max-width: 81px;
    height: auto;
  }

  .item2{ /*HEADER*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;

    background-image: url("images/kidSwimming.jpg");
    background-size:cover;
    background-position: center;
  }

  .headBox{
    display: grid;
    grid-template-columns: 10% auto auto auto 10%;
    grid-template-rows: 100px auto auto 100px;
    text-align: center;
    color: white;
  }

  .headItem1{ /*S&C POOLS*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .headItem1 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 75px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    line-height: 1;
  }

  .headItem2 p{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 25px;
    margin: 30px 0px 0px 0px;
    display: inline-block;
  }

  .headItem2{  /*Swimming Pool Contractors*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
  }

  .item3{ /*ABOUT*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;

    background-color: white;
  }

  .aboutBox{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 40px auto 40px;
    column-gap: 25px;

    text-align: center;
  }

  .aboutBox p{
    line-height: 1.5;
  }

  .aboutItem1{ /*LOGO*/
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .aboutItem1 img{
    max-width: 22em;
    height: auto;
    margin-top: 1.5em;
  }

  .aboutTitle{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 900;
  }

  .aboutItem2{ /*HISTORY*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .aboutItem3{ /*PRESENT*/
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }


  .item4{ /*PICTURES*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;

    background-color: white;
  }

  .picBox{
    display: grid;
    grid-template-columns: 10% auto auto auto auto 10%;
    grid-template-rows: 15px auto 40px;
    column-gap: 50px;

    justify-content: center;
  }

  .picItem1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem2{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem3{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picItem4{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .picBox img {
    max-width: 16em;
    height: auto;
  }
  .item5{ /*SERVICES*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;

    background-color: #3A3B3C;
  }

  .servBox{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
    grid-template-rows: 40px auto auto auto 40px;
    color: white;
    column-gap: 10px;
  }

  .servBox h3{
    margin-top: 30px;
  }

  .servBox h1{
    text-align: center;
  }
  .servBox a:link {
    text-decoration: underline;
    color: white;
  }

  .servBox a:visited {
    text-decoration: underline;
    color: white;
  }

  .servBox a:hover {
    color: #ADD8E6;
  }

  .servBox a:active {
    color: #ADD8E6;
  }


  .servItem1{/*CONTACT US*/
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .servItem2{/*liner replacement*/
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .servItem3{/*pool repair*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .servItem4{/*salt generator*/
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .servItem5{/*open/close*/
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .servItem6{/*retail location*/
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .servItem7{/*hard to find*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .servItem8{/*equipment servicing*/
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .servItem9{/*computer analysis*/
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .item6{ /*CONTACT US*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;

    background-color: white;
  }

  .conBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px auto auto 40px auto 40px;

    text-align:center;
  }

  .conItem1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .conItem2{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .conItem3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .conItem4{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-left: 5px;
  }
  .conItem5{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .conItem5 p{
    text-align: left;
    padding-left: 15px;
  }

  .map {
    height: 500px;
    /* The height is 400 pixels */
    width: 66%;
    /* The width is the width of the web page */
  }

  .item7{ /*FOOTER*/
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;

    background-color: #3A3B3C;

  }
  .footBox{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;

    color: white;
    justify-content: center;
    align-items: center;
  }

  .footItem1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
}
